<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', { title: 'Book Collection - Minha coleção de livros' }) %>
<body>
    <main class="container">
        <section class="content">
            <%- include('partials/header.ejs') %>
            <%- include('components/message.ejs') %>
            <%- include('partials/heading.ejs', { title: 'Minha coleção'}) %>
            <div class="table-wrapper mt--20">
                <% if (books.length > 0) { %>
                <table class="table">
                    <tr>
                        <th class="tc--w50">ID</th>
                        <th class="f--1">Título</th>
                        <th class="tc--w92">Status</th>
                        <th colspan="2" class="tc--w184">Ações</th>
                    </tr>
                    <% books.forEach((book) => { %>
                    <tr>
                        <td class="tc--w50"><%= book.id %></td>
                        <td class="f--1"><a href="/view/<%= book.id %>"><%= book.title %></a></td>
                        <td class="tc--w92 text--<%= book.status ? 'success' : 'muted' %>"><i class="fa-solid fa-circle-<%= book.status ? 'check' : 'xmark' %> icon"></i><%= book.status ? 'Já Li' : 'Vou Ler' %></td>
                        <td class="tc--w92 text--warning"><i class="fa-solid fa-marker icon"></i><a href="/edit/<%= book.id %>" class="text--warning">Editar</a></td>
                        <td class="tc--w92 text--danger"><i class="fa-solid fa-trash icon"></i><a href="/delete/<%= book.id %>" class="text--danger">Excluir</a></td>
                    </tr>
                    <% }); %>
                </table>
                <% } else { %>
                    <div class="alert alert--warning">
                        <p>Nenhum livro cadastrado.</p>
                    </div>
                <% } %>
            </div>
            <div class="button-wrapper mt--20">
                <button class="button" onclick="window.location.href='/register';"><i class="fa-solid fa-plus icon"></i>Adicionar</button>
            </div>
        </section>
        <section class="pagination">
            <ul>
                <li>
                    <span>«</span>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>