<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', { title: 'Book Collection - Minha coleção de livros' }) %>
<body>
    <main class="container">
        <section class="content">
            <%- include('partials/header.ejs') %>
            <%- include('components/message.ejs') %>
            <%- include('partials/heading.ejs', { title: book.title }) %>
            <div class="table-wrapper mt--20">
                <table class="table">
                    <tr class="f--ai-center">
                        <th class="tc--w92">Título</th>
                        <td class="f--1 text--capitalize"><%= book.title %></td>
                    </tr>
                    <tr class="f--ai-center">
                        <th class="tc--w92">Status</th>
                        <td class="f--1 text--<%= book.status ? 'success' : 'muted' %>"><i class="fa-solid fa-circle-<%= book.status ? 'check' : 'xmark' %> icon"></i><%= book.status ? 'Já Li' : 'Vou Ler' %></td>
                    </tr>
                </table>
            </div>
            <div class="summary mt--20">
                <div class="heading">
                    <h2>Descrição</h2>
                </div>
                <p class="description mt--20"><%= book.description %></p>
            </div>
            <div class="button-wrapper mt--20 g--20">
                <button class="button button--warning"><i class="fa-solid fa-marker icon"></i>Editar</button>
                <button class="button button--danger"><i class="fa-solid fa-trash icon"></i>Excluir</button>
            </div>
        </section>
    </main>
</body>
</html>